{% extends "base.html" %}

{% block header %}
{% endblock header %}


{% block content %}
<div class="card">
    <video src="{{ object.video.url }}" width="420" height="400" controls ></video>
    <div class="card-body">
        <h5 class="card-title" style="font-family: fantasy; font-size: 30px;">{{ object.title }}</h5>
        <h6 class="card-title">{{ object.postdate }}</h6>
        <button type="button" style="background-color: mediumpurple; border-radius: 20px;"><a href="{% url 'list' %}" class="btn btn-primary">一覧へ戻る</a></button>
    </div>
  </div>
{% endblock content %}